* {
  margin: 0; padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #fff;
  font-size: 14px;
  font-family: 'Righteous', cursive;
  color:#727272;
  font-weight:400;
}

.wrapper header, .wrapper section {
  width: 100%;
  padding: 20px;
}

.wrapper header {
  width: 100%;
  background: #ffb04a;
  color: white;
  font-size: 32px;
}

.wrapper section {
}

.style-box {
  margin: 10px 0 20px 0;
  width: 100%;
}
.style-box .inner {
  width: 100%;
  padding: 20px;
}
.style-box.light  {
  background: #efefef;
  color: rgba(0,0,0,0.87);
}
.style-box.orange  {
  background: #ffb04a;
  color: rgba(0,0,0,0.87);
}
.style-box.darker  {
  background: #323232;
  color: rgba(255,255,255,1);
}
.style-box .information {
  width: 100%;
  padding: 20px;
}

@media screen and (min-width: 0px) {
  .wrapper header {
    font-size: 24px;
  }
  .wrapper header, .wrapper section {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (max-width: 330px) {
  .wrapper header {
    font-size: 18px;
  }
}
@media screen and (min-width: 400px) {
  .wrapper header, .wrapper section {
    padding-left: 5vw;
    padding-right: 5vw;
  }
}